h1 {
    color:#0000FF;
}

h2 {
    color:#FF0000;
}

.feu_et_sang {
    background:
    url("https://thumbor.sd-cdn.fr/loR4hFERGO8LhtjTy2K6Mbigk1k=/fit-in/1000x757/cdn.sd-cdn.fr/comiga/2019/07/donjons-dragons-film-spider-man-e1564580792770.jpg") no-repeat center center fixed;
    background-size: cover;
  height: 100%;
  overflow: hidden;
}
.feu_et_sang_dark {
    background:
    linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
    url("https://thumbor.sd-cdn.fr/loR4hFERGO8LhtjTy2K6Mbigk1k=/fit-in/1000x757/cdn.sd-cdn.fr/comiga/2019/07/donjons-dragons-film-spider-man-e1564580792770.jpg") no-repeat center center fixed;
    background-size: cover;
  height: 100%;
  overflow: hidden;
}

.font-white {
color:white !important;
}
table {
    border-collapse: collapse;
    margin-top:50px;
    margin-bottom:50px;
}

table th, table td {
    padding: 5px;
}

.link{
    color: darkslategray;
}

.container{
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.form
{
    margin: 30px;
}

.name{
    margin: 10px;
}

.type{
    margin: 10px;
}

.button{
    background-color: darkslategray;
    color: antiquewhite;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

.grid{

    display: flex;
    flex-direction: row;

}
.square{
    border: 1px solid black;
}


.grid tr td {
    padding: 0;
    margin: 0;
}

.grid tr td div{
    height: 30px;
    width: 20px;
}

.text-plateau{
    text-align: center;
}


.launch_dice{
    display:flex;
    text-align: center;
}

.personnage{
    padding-top: 50px;
    text-align: center;
}

.div-legende{
    margin: 50px 200px;
}


.legende-square{
    display: flex;
    flex-direction: row;

}

.containeur{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.pawn {
    width:20px;
    height:auto;
    border: solid black 5px;
}