<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Donjons et dragons</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Creer un personnage :</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->
<div class="form">
<form th:action="@{/addPerson}"
      th:object="${personForm}" method="POST">
    Nom :
    <input class="name" type="text" th:field="*{name}" />
    <br/>
    Type :
    <input class="type" type="text" th:field="*{type}" />
    <br/>
    Arme :
    <input class="name" type="text" th:field="*{weapon}" />
    <br/>
    Potion :
    <input class="type" type="text" th:field="*{potion}" />
    <br/>
    Points d'attaque :
    <input class="name" type="text" th:field="*{attack_points}" />
    <br/>
    Points de vie :
    <input class="type" type="text" th:field="*{life_points}" />
    <br/>
    Case courante :
    <input class="type" type="text" th:field="*{current_square_id}"/>
    <br/>
    <button class="button" type="submit" value="Créer">Créer</button>
</form>
</div>
<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
</div>
</body>
</html>